<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
	<script type="text/javascript" src="https://data.corp.google.com/aplos/versions/aplos-current-optimized.js"></script>
	<script type="text/javascript" src="/static/js/new_excalibur.js"></script>
	<script type="text/javascript">
	  loadStaticData('{{ viz_name }}');
	</script>
<body>
	<h2>Excalibur!</h2>
	<script type="text/javascript" src="/static/js/new_excalibur.js"></script>
	<div id='table'></div>
	<textarea id='spec_text' rows="4" cols="50"></textarea>
	<button id='spec_refresh_button' onclick="loadStaticData('{{ viz_name }}')">Refresh</button>
</body>
</html>
