<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
	<script type="text/javascript" src="https://data.corp.google.com/aplos/versions/aplos-current-optimized.js"></script>
	<script type="text/javascript" src="/static/js/new_excalibur.js"></script>
	<script type="text/javascript">
	  loadStaticData('{{ viz_name }}');
	</script>
<body>
	<h2>Excalibur!</h2>
	<textarea id='dataEditor'>region,sub_region,country,clicks,impressions
APAC,SEA,Guam,100,10000
APAC,Greater China,Macau,200,20000
Americas,NA,United States,300,30000
Americas,Brazil,Brazil,400,40000
Space,Saturn,OuterRings,200,12345
Space,Mars,Crater,100,987
Space,Venus,Moon,99,1999
Borg,Mind,Lobe,19999,33922</textarea>
	<div id='status'>My status</div>
	<div id='chartArea'>My chart will go on...</div>
	<script type="text/javascript" src="/static/js/new_excalibur.js"></script>
</body>
</html>
